.header {
  width: 100%;
  height: 70px;
  box-shadow: 0px 1px 3px 1px rgba(110, 110, 110, 0.295);
  background-color: white;
  z-index: 50;
  position: sticky;
  top: 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.header__text {
  font-size: 35px;
  padding-top: 10px;
}

.return {
  position: absolute;
  top: 25px;
  left: 25px;
}

.fa-arrow-left {
  font-size: larger;
}

.relative {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 70px;
}

.location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

footer {
  background-color: #3a3a3a;
  color: white;
}
footer h3 {
  margin-bottom: -5px;
}
footer .fas {
  margin-bottom: 5px;
  width: 20px;
}
footer i {
  font-size: 12px;
  align-content: center;
}

.top__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.top__function {
  background-color: white;
}
.top__function h2 {
  font-family: "robotothick";
}

.top__presentation h2 {
  font-family: "robotothick";
}

.top__function__element {
  position: relative;
  margin: 25px 0px 25px 10px;
}
.top__function__element__number {
  background-color: #9356DC;
  border-radius: 10px;
  padding: 5px;
  width: 10px;
  height: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  color: white;
  top: 33%;
  left: -8px;
}
.top__function__element__box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 10px 1px rgba(110, 110, 110, 0.295);
  width: 100%;
  height: 60px;
  border-radius: 20px;
}
.top__function__element__box i {
  margin-right: 20px;
  margin-left: 30px;
  color: gray;
  font-size: medium;
}
.top__function__element__box .fa-store {
  color: #9356DC;
}
.top__function__element__box__text {
  font-family: "robotothick";
}
.top__function__element .blue {
  background-color: #ebf3fc;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "robotothick";
  src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: "shrikhand";
  src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf);
}
body {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(125deg, #FF79DA, #9356DC, #99E2D0);
  font-family: "roboto";
  font-size: medium;
  font-weight: lighter;
}

.top__presentation, main {
  background-color: #f7f7f7;
}

.container {
  max-width: 900px;
  padding: 15px;
  margin: auto;
}

a {
  text-decoration-line: none;
  text-decoration-color: black;
  color: inherit;
}

h1, h2, h3, h4 {
  font-family: "shrikhand";
  margin: 0px;
  font-weight: normal;
}

.button {
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border-width: 0px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 4px 10px 1px rgba(110, 110, 110, 0.295);
}

main h2 {
  font-family: "robotothick";
  padding-top: 20px;
}
main .div_box {
  padding-bottom: 20px;
}

.div_box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  max-height: 288px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 4px 10px 1px rgba(110, 110, 110, 0.295);
}
.box__picture {
  width: 100%;
  height: 80%;
  position: relative;
}
.box__picture img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.box__picture__new {
  position: absolute;
  padding: 5px;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #1b6150;
  border-radius: 2px;
  font-size: smaller;
}
.box__text {
  padding: 10px;
  height: 10%;
  position: relative;
}
.box__text .fa-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: x-large;
}

.hero__1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.restaurant-main {
  margin-top: -30px;
  border-radius: 30px 30px 0px 0px;
  max-width: 1100px;
  z-index: 1;
  position: relative;
}
.restaurant-main h1 {
  padding-top: 5px;
  font-size: 28px;
}
.restaurant-main .fa-heart {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: x-large;
}
.restaurant-main__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.restaurant-main__menu__part {
  width: 100%;
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.restaurant-main__menu__part__choice__plat {
  margin-top: 15px;
  padding: 10px;
  box-shadow: 0px 4px 10px 1px rgba(110, 110, 110, 0.295);
  height: 40px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.restaurant-main__menu__part__choice__plat .price {
  position: absolute;
  bottom: 12px;
  right: 12px;
  margin: 0px;
  font-weight: bold;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 50px 0px;
}

.footer {
  max-width: 1100px;
}

.commander {
  padding: 10px 35px;
}

.greenbar {
  height: 2px;
  width: 40px;
  background-color: #99E2D0;
  margin-top: 5px;
}

/*# sourceMappingURL=styles.css.map */
