@import "variables";
@font-face {
    font-family:'roboto';
    src:url(../fonts/Roboto/Roboto-Light.ttf)
}
@font-face {
    font-family:'robotothick';
    src:url(../fonts/Roboto/Roboto-Black.ttf)
}
@font-face {
    font-family:'shrikhand';
    src:url(../fonts/Shrikhand/Shrikhand-Regular.ttf)
}
body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(125deg, $color-secondary, $color-primary, $color-tertiary);
    font-family: 'roboto';
    font-size:medium;
    font-weight: lighter
}
.top__presentation, main{
    background-color: #f7f7f7;
}
.container{
    max-width: 900px;
    padding: 15px;
    margin: auto;
}
a{
    text-decoration-line: none;
    text-decoration-color: black;
}
h1, h2, h3, h4{
    font-family: 'shrikhand';
    margin: 0px;
    font-weight:normal;
}